@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--ctp-mocha-text);
  background: var(--ctp-mocha-base);
}

h1 {
  font-weight: 500;
  font-size: 2.1em;
}
h2 {
  font-weight: 500;
  font-size: 1.7em;
}
h3 {
  font-weight: 500;
  font-size: 1.3em;
}

button {
  border-radius: 7px;
  background: var(--ctp-mocha-green);
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  /* Your existing styles */
  padding: 20px;
  background-color: var(--ctp-mocha-surface0);
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--ctp-mocha-surface0);
  animation: fadeIn 1s ease-in-out forwards;
}

/* Apply styles when the section becomes visible */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


header {
  text-align: center;
  padding: 40px 0;
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text);
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: profileAnimation 1s ease-in-out forwards, profileShadow 3s ease-in-out infinite;
  box-shadow: 0 0 20px rgb(138, 173, 244);
}

@keyframes profileAnimation {
  0% {
    width: 130px;
    height: 130px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}

@keyframes profileShadow {
  0% {
    box-shadow: 0 0 20px rgb(138, 173, 244);
  }
  50% {
    box-shadow: 0 0 25px rgb(158, 193, 255);
  }
  100% {
    box-shadow: 0 0 20px rgb(138, 173, 244);
  }
}


nav {
  background-color: var(--ctp-mocha-surface0);
  transition: ease-in-out 0.3s;
  align-items: center;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-family: "JetBrains Mono", monospace;
  padding: 10px 20px;
}

nav:hover {
  background-color: var(--ctp-mocha-surface1);
}

nav:hover .discStatus-dot {
  transition: ease-in-out 0.3s;
  border-color: var(--ctp-mocha-surface1);
}

nav a {
  text-decoration: none;
  color: var(--ctp-mocha-text);
  transition: ease-in-out 0.3s;
}

nav a:hover {
  cursor: pointer;
  color: var(--ctp-mocha-blue);
}

.nav-left {
  float: left;
}


.nav-center {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: 0 auto;
}

.nav-center a {
  padding: 0 15px;
}


.nav-right {
  display: flex;
  align-items: center;
  float: right;
}

.icons {
  font-size: 1.5em;
}

.user-avatar {
  /* Existing styles */
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  overflow: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal p {
  font-size: 0.7em;
}

.modal-content {
  background-color: var(--ctp-mocha-surface0);
  margin: 15% auto;
  padding: 20px;
  width: 25%;
  height: 15%;
  border-radius: 10px;
}

.close {
  color: var(--ctp-mocha-subtext1);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--ctp-mocha-subtext0);
  text-decoration: none;
  cursor: pointer;
}

.project {
  border: 2px solid #ddd;
  padding: 20px;
  width: 500px;
  margin: 20px 0;
  border-radius: 6px;
}

#cursor {
  border-right: 2px solid;
  display: inline-block;
  animation: blink 0.6s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.profile-title {
  justify-content: center;
  display: flex;
}

.title-text {
  height: 1em;
}

.discAvatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}


.discStatus-dot {
  width: 15px;
  border: 3px solid var(--ctp-mocha-surface0);
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  position: relative;
  right: 10px;
  top: 11px;
}

@keyframes shine {
  0% {
    left: -50%;
  }
  100% {
    left: 150%;
  }
}

.user-avatar:hover {
  /* Add animation container */
  &::after {
    content: "";
    background: linear-gradient(
      to right,
      #fff 0%,
      rgba(255, 255, 255, 0.7) 100%
    );
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    transform: skewX(-25deg);
    animation: shine 0.85s infinite;
    z-index: 1;
  }
}


.discStatus {
  display: flex;
  align-items: center;
  transition: transform ease-in-out 0.3s;
  justify-content: center;
}

.discStatus:hover {
  transform: scale(1.1);
}

.discModal {
  display: none;
  position: fixed;
  z-index: 1;
  color: var(--ctp-mocha-text);
  width: 100%;
  height: 100%;
  right: 37%;
  bottom: 17%;
  overflow: auto;
}

.discModal-content {
  background-color: var(--ctp-mocha-surface0);
  margin: 15% auto;
  padding: 20px;
  width: 25%;
  height: 15%;
  border-radius: 10px;
}

.discModal-avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}

.discordCard {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform ease-in-out 0.3s;
}

p {
  line-height: 1.7em;
}