@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--ctp-mocha-text);
    background: var(--ctp-mocha-base);
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: var(--ctp-mocha-base);
    color: var(--ctp-mocha-text);
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    animation: profileAnimation 1s ease-in-out forwards;
    box-shadow: 0 0 20px rgb(138, 173, 244);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--ctp-mocha-surface0);
    padding: 10px 0;
    transition: ease-in-out 0.3s;
}

nav ul:hover {
    background-color: var(--ctp-mocha-surface1);
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--ctp-mocha-text);
    transition: ease-in-out 0.3s;
}

nav a:hover {
    color: var(--ctp-mocha-mauve);
}

section {
    padding: 40px;
}

.project {
    border: 2px solid #ddd;
    padding: 20px;
    width: 500px;
    margin: 20px 0;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--ctp-mocha-text);
    color: var(--ctp-mocha-base);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--ctp-mocha-text);
}

@keyframes profileAnimation {
    0% {
        width: 130px;
        height: 130px;
    }
    100% {
        width: 150px;
        height: 150px;
    }
}


#cursor {
    border-right: 2px solid;
    display: inline-block;
    animation: blink 0.6s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}


.profile-title {
    justify-content: center;
    display: flex;
}

.title-text {
    height: 1em;
}

.discord-card img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.discord-card {
    width: 300px;
    height: 200px;
    background-color: var(--ctp-mocha-surface1); /* Catpuccin Mocha - Base */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    color: var(--ctp-mocha-text); /* Catpuccin Mocha - Text */
  }
  
  .discord-card h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--ctp-mocha-text); /* Catpuccin Mocha - Primary */
  }
  
  .discord-card p {
    margin-bottom: 0;
    font-size: 16px;
  }
  