@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    color: var(--ctp-mocha-text);
    background: var(--ctp-frappe-base);
}

header {
    text-align: center;
    padding: 40px 0;
    background-color: var(--ctp-frappe-base);
    color: var(--ctp-mocha-text);
}

.profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /*animation: profileAnimation 1s ease-in-out forwards;*/
    box-shadow: 0 0 20px rgb(138, 173, 244);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: var(--ctp-frappe-base);
    padding: 10px 0;
}

nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: var(--ctp-mocha-text);
}

section {
    padding: 40px;
}

.project {
    border: 2px solid #ddd;
    padding: 20px;
    width: 500px;
    margin: 20px 0;
    border-radius: 6px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--ctp-mocha-text);
    color: var(--ctp-frappe-base);
    text-decoration: none;
    margin-top: 10px;
    border-radius: 5px;
}

.btn:hover {
    background-color: var(--ctp-frappe-text);
}
/*
@keyframes profileAnimation {
    0% {
        width: 150px;
        height: 150px;
    }
    100% {
        width: 130px;
        height: 130px;
    }
}
*/

