.markdown-content p {
    line-height: 2;
}

.markdown-content h1 {
    color: var(--text-text);
    font-size: 2.5em;
}

.markdown-content h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

.markdown-content h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.markdown-content h4 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

.markdown-content h5 {
    font-size: 0.9em;
    font-weight: bold;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .markdown-content h1 {
        font-size: 2em;
    }

    .markdown-content h2 {
        font-size: 1.3em;
    }

    .markdown-content h3 {
        font-size: 1.1em;
    }

    .markdown-content h4 {
        font-size: 0.9em;
    }

    .markdown-content h5 {
        font-size: 0.8em;
    }
}