body {
    line-height: 2;
}
h1 {
    color: var(text-text);
    font-size: 3em;
}

h2 {
    font-size: 1.75em;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

h3 {
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
}

h5 {
    font-size: 1em;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom: 3px;
}

h6 {
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}

code {
    font-family: "JetBrains Mono";
}