* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* ill keep adding as i dont need these
body {
  font-family: "Rubik", sans-serif;
  color: var(--ctp-mocha-text);
  background: var(--ctp-mocha-base);
}

h1 {
  font-weight: 500;
  font-size: 2.1em;
}
h2 {
  font-weight: 500;
  font-size: 1.7em;
}
h3 {
  font-weight: 500;
  font-size: 1.3em;
}

section {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
  padding: 20px;
  background-color: var(--ctp-mocha-surface0);
  margin: 0 auto;
  margin-bottom: 50px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 20px var(--ctp-mocha-surface0);
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  text-align: center;
  padding: 40px 0;
  background-color: var(--ctp-mocha-base);
  color: var(--ctp-mocha-text);
}

.profile img {
  border-radius: 50%;
  width: 150px;
  margin: auto;
  height: 150px;
  animation:
    profileAnimation 1s ease-in-out forwards,
    profileShadow 3s ease-in-out infinite;
  box-shadow: 0 0 20px rgb(138, 173, 244);
}

@keyframes profileAnimation {
  0% {
    width: 130px;
    height: 130px;
  }
  100% {
    width: 150px;
    height: 150px;
  }
}
PROFILE SHADOW
@keyframes profileShadow {
  0% {
    box-shadow: 0 0 20px rgb(138, 173, 244);
  }
  50% {
    box-shadow: 0 0 25px rgb(158, 193, 255);
  }
  100% {
    box-shadow: 0 0 20px rgb(138, 173, 244);
  }
}

.profile-title {
  justify-content: center;
  display: flex;


.discAvatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 7px;
}
}

.discStatus-dot {
  width: 15px;
  border: 3px solid var(--ctp-mocha-surface0);
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  z-index: 1;
  position: relative;
  right: 10px;
  top: 11px;
}

.discStatus {
  display: flex;
  align-items: center;
  transition: transform ease-in-out 0.3s;
  justify-content: center;
}

.discStatus:hover {
  transform: scale(1.1);
}

*/

.cursor::after {
  content: "|";
  animation: blink 0.7s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

