---
//import "./page.css";
import TypeAnimation from '../components/TypeAnimation.astro';
import '@fontsource-variable/inter';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import avatarImage from "../assets/rrcoder0167_avatar.jpeg";
---

<Layout title="Riddhiman Rana - Developer Portfolio">

<header class="text-center p-10">
  <Image src={avatarImage} alt="rrcoder0167's avatar" width="256" height="256" loading="eager" class="rounded-full w-40 h-40 mx-auto shadow-3xl shadow-blue animate-profileAnimation"/>
  <h1 class="text-4xl font-extrabold">Riddhiman Rana</h1>
  <span class="flex justify-center type-titles text-md">
    &nbsp;
  </span>
</header>

<section
  class="bg-surface0 animate-fadeIn p-5 mx-auto w-5/6 rounded-lg mb-14 shadow-3xl shadow-surface2"
  id="about"
>
  <h2 class="text-3xl font-bold">Hi!</h2>
  <p class="leading-7">
    I&apos;m Riddhiman Rana, a 13 year-old middle schooler with a life
    passion for technology. When I was 7, after a long exhausting business
    trip to London, my dad brought me home a book called &quot;Coding for
    Beginners: Using Python&quot;. Within minutes, I was fascinated by the
    amazing world of programming, and the day I started coding, I knew
    this was my life&apos;s mission, to one day become a tech entrepreneur
    and start my own company. Since then, I have learned a lot, and have
    skills in broad categories, from Arduino, to Competitive Programming,
    to Hackathons, and more. One day, I do believe my dream will come
    true, and until then, happy coding :)
  </p>
</section>

<section
  class="bg-surface0 animate-fadeIn p-5 mx-auto w-5/6 rounded-lg mb-14 shadow-3xl shadow-surface2"
  id="contact"
>
  <h2 class="text-3xl font-bold">Contact Me</h2>
</section>
</Layout>