---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogCard.astro';
const allPosts = await Astro.glob("./posts/*.md");
---

<Layout title="Posts | Riddhiman Rana">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h1 class="text-5xl font-bold text-center my-8">
            Posts
        </h1>
        <!-- Display the list of blog posts -->
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} description={post.frontmatter.description} date={post.frontmatter.date}/>)}
        </ul>
    </div>
</Layout>