---
import ProjectCard from './ProjectCard.astro';
import projects from './projects.json';
---
<div>
  {projects.map((project, index) => (
    <ProjectCard key={index} project={project} />
  ))}
</div>