---
import Navbar from "../components/Navbar.astro";
import { Icon } from 'astro-icon/components';
import '@fontsource-variable/inter';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content="My name is Riddhiman Rana and I am a full stack developer. Find out more about me and my projects." />
    <link rel="stylesheet" href="https://unpkg.com/@catppuccin/palette/css/catppuccin.css" />
    <script defer data-domain="rrcoder0167.is-a.dev" src="https://analytics.is-a.dev/js/script.js"></script>

  </head>
  <body class="macchiato text-text bg-base">
    <Navbar />
    <slot />
    <button class="fixed bottom-4 right-4 w-10 h-10 rounded-md bg-surface0 hover:bg-surface1 transition ease-in-out duration-300 text-text text-2xl flex items-center justify-center">
      <Icon name="fa-solid:sun"/>
    </button>
  </body>
</html>