---
import Navbar from "../components/Navbar.astro";
import { Icon } from 'astro-icon/components';
import '@fontsource-variable/inter';
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---
<script defer data-domain="rrcoder0167.is-a.dev" src="https://analytics.is-a.dev/js/script.js"></script>

<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="p:domain_verify" content="e6f8733d4a51c0b42b10f26a628378b5"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="My name is Riddhiman Rana and I am a full stack developer. Find out more about me and my projects." />
    <script defer data-domain="rrcoder0167.is-a.dev" src="https://analytics.is-a.dev/js/script.js"></script>
    <ViewTransitions />
  </head>
  <body class="macchiato text-text bg-base">
    <Navbar />
    <slot />
    <button class="fixed bottom-4 right-4 w-10 h-10 rounded-md bg-surface0 hover:bg-surface1 transition ease-in-out duration-300 text-text text-2xl flex items-center justify-center">
      <Icon name="fa-solid:sun"/>
    </button>
  </body>
</html>
