---
import Layout from "./Layout.astro";
import '../styles/markdown.css';
const { frontmatter } = Astro.props;
---



<Layout title={frontmatter.title}>
  <article class="max-w-5xl mx-auto">
    <header>
      <h1 class="text-5xl font-extrabold mb-4 mt-8">{frontmatter.title}</h1>
      <p class="text-subtext1 mb-2">{frontmatter.description}</p>
      <p class="text-subtext0 mb-8"> <!-- Increase the margin-bottom value here -->
        <span style="float: left;">Posted on {new Date(frontmatter.pubDate).toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}</span>
        <span style="float: right;">Written by: {frontmatter.author}</span>
      </p>
      <br/>
    </header>
    <section class="markdown-content">
        <slot />
    </section>
  </article>
</Layout>